* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text;
  overflow: hidden;
  font-family: sans-serif;
}

body {
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  all: unset;
}

a,
button {
  cursor: pointer;
}
