.contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contact__list {
    display: flex;
    margin: 20px;

    @include mobile{
      flex-direction: column;
    }

    .contact__list__item {
      margin: 20px;
      padding: 10px 20px;
      border: 2px solid $background;

      @include mobile{
        margin: 5px;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
      }

      &:hover {
        border: 2px solid $text;
      }
    }
  }
}
