.show-content {
  width: 70%;
  height: calc(100% - 40px);
  border: 3px solid $text;
  border-bottom: 0;
  margin: 20px;
  padding-left: 15px;
  position: relative;

  @include mobile {
    margin: 10px;
    width: calc(100% - 20px);
    height: 88%;
    border-left: 0;
    border-right: 0;
    padding-left: 0;
  }
}
