.side-bar {
  width: 23%;
  height: calc(100% - 40px);
  border: 3px solid $text;
  border-left: 0;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    margin: 10px;
    width: calc(100% - 20px);
    height: 12%;
    border-top: 0;
    border-right: 0;
  }

  .side-bar__menu {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include mobile {
      height: 100%;
      flex-direction: row;
      justify-content: space-between;
    }

    .side-bar__menu__item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      font-size: 1.5rem;
      cursor: pointer;

      @include mobile {
        width: 100%;
        font-size: 1.2rem;
      }

      &:hover {
        background-color: $text;
        color: $background;
        transition: all 0.2s ease-in-out;
      }
    }

    .side-bar__menu__item:nth-child(odd) {
      border: 3px solid $text;
      border-left: 0;
      border-right: 0;

      @include mobile {
        border: 3px solid $text;
        border-top: 0;
        border-bottom: 0;
      }
    }

    .in-focus {
      background-color: $text;
      color: $background;
      transition: all 0.2s ease-in-out;
    }
  }

  .side-bar__contact{
    width: 100%;
    display: flex;
    justify-content: space-around;

    a{
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 0.8rem;
    }
  }
}
