.side-bar {
  width: 30%;
  height: calc(100% - 40px);
  border: 3px solid $text;
  border-left: 0;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .side-bar__menu {
    width: 100%;

    .side-bar__menu__item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      font-size: 1.5rem;
      cursor: pointer;

      &:hover{
        background-color: $text;
        color: $background;
        transition: all 0.2s ease-in-out;
      }
    }

    .side-bar__menu__item:nth-child(odd) {
      border: 3px solid $text;
      border-left: 0;
      border-right: 0;
    }
  }

  @include mobile {
    margin: 10px;
    width: calc(100% - 20px);
    height: 15%;
    border-top: 0;
    border-right: 0;
  }
}
